{% extends 'base.twig' %}

{% block content%}

    <script defer src="/TaskApp/public/js/task.js" ></script>
    <h5>Добавление задачи</h5>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Введите имя пользователя</label>
            <input type="text" class="form-control" id="UserNameInput" placeholder="Имя">
            <div class="form-group">
                <div id="errorNameInput" style=" display: none;" class="message alert alert-danger">Имя пользователя некорректно!</div>
            </div>

            <label for="formGroupExampleInput">Введите email пользователя</label>
            <input type="text" class="form-control" id="UserEmailInput" placeholder="Email">
            <div class="form-group">
                <div id="errorEmailInput" style=" display: none;" class="message alert alert-danger">Email пользователя некорректен!</div>
            </div>

            <label for="formGroupExampleInput">Введите текст задачи</label>
            <textarea type="text" class="form-control" id="TaskTextInput" placeholder="Задача"></textarea>
            <div class="form-group">
                <div id="errorTaskArea" style=" display: none;" class="message alert alert-danger">Поле задачи не должно быть пустым!</div>
            </div>

        </div>


        <div class="form-group" id="AddTaskButton">
            <div class="btn btn-primary">Добавить</div>
        </div>
        <div class="form-group">
            <div id="errorMessage" style=" display: none;" class="message alert alert-danger">Ошибка при добавлении!</div>
        </div>

        <div class="form-group">
            <div id="successMessage"  style=" display: none;" class="message alert alert-success">Задача успешно добавлена!</div>
        </div>
    </form>

{% endblock %}